<div class="tech-btm">
    <p>Teknoloji yazılım ve diğer bloglarlar... </p>
    <form method="post">
        <input type="email" placeholder="Mail" id="Mail" required="" name="Mail">
        <input id="btnPostMail" type="submit" value="Abone Ol">
    </form>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnPostMail").on("click", function () {

            var datas = {
                Mail: document.getElementById("Mail").value,
            }

            $.ajax({
                url: '/NewsLetter/SubscribeMail',
                type: 'POST',
                data: datas,
               
            });
        });
    });
</script>