<div class="comment-top">
    <h4>Bir yorum yapın</h4>
    <div class="comment-bottom">
        <form method="post" id="searchForm">
            <input class="form-control" type="text" name="CommentUserName" id="CommentUserName" placeholder="Adınız Soyadınız" required="">
            <input class="form-control" type="text" name="CommentTitle" id="CommentTitle" placeholder="Başlık" required="">
            <textarea class="form-control" name="CommentContent" id="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <a href="#" id="btnPost" type="submit" class="btn btn-primary submit">Yorum Yap</a>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnPost").on("click", function () {

            var datas = {
                CommentUserName: document.getElementById("CommentUserName").value,
                CommentTitle: document.getElementById("CommentTitle").value,
                CommentContent: document.getElementById("CommentContent").value,
            }

            $.ajax({
                url: '/Comment/PartialAddComment',
                type: 'POST',
                data: datas,
                success: function () {
                    swal("Başarılı!", "Yorumunuz başarılya yapılmıştır!", "success");
                    window.setTimeout(
                        function () {
                            location.reload(true)
                        },
                        1000
                    );
                }
            });
        });
    });
</script>